h2{
			color: #fff;
		}
		.contant{
			padding: 20px;
			text-align: center;
		}
		.hs{
			font-family: Times New Roman;
			text-align: center;
			color: #fff;
			font-size: 13px;
		}
		.hm {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }
		body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000;
        }
		nav {
			background-color: blue;
            color: green;
            padding: 10px;
            text-align: center;
        }
		nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 50px;
        }
		#img1{
			margin-left: 35%;
			margin-right: 35%;
			height: 3cm;
    }
